.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}
.Accordions {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.accordion {
    width: 100%;
    margin-bottom: 25px;
 

}

.accordionTitle {
    background-color:#FF6060;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 15px;

}

.arrow {
    /* width: 50%; */
    text-align: end;
    padding-right: 30px;
}

.accordionContent_hidden {
    width: 100%;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6060;
    background-color:  #F6F6F6;
    visibility: hidden;
    opacity: 0;
    height: 0px;
}

.accordionContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #F6F6F6;
    padding-bottom: 5px;
   
}

.accordionContent2 {
    width: 95%;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6060;
    background-color:  #F6F6F6;
   
}

@media screen and (max-width: 320px) {

.banner2 {
    width: 336px;
    height: 223px;
    width: 95%;
    border-radius: 10px;
}

.imgBanner2 {
    border-radius: 10px;
}

.Accordions {
    padding-top: 10px;
}

.accordion {
    margin-bottom: 5px;
}
.accordionTitle {
    font-size: 13px;
    line-height: 19px;
    padding-left: 5px;
}
   
.arrow {
    padding-right: 10px;
}

.arrowImg {
    width: 14px;
}

.accordionContent_hidden, .accordionContent2 {
font-size: 12px;
line-height: 17px;
padding-top: 5px;
}


    }

