
.bannière {
 height:223px;
 width: 90%;
 position: relative;

}

.imgBannerdiv {
    width: 100%;
    height: 100%;
    position: absolute;
}

.imgBanner {
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.TitleBanner {
    position: absolute;
    font-family: Montserrat;
font-size: 48px;
font-weight: 500;
line-height: 68px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;


}