

.header {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navHeader {
    width: 50%;
}
.listHeader {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    list-style-type: none;
    
}

.logoDiv {
    width: 50%;
    padding-left: 50px;
}

.logoImg
{
    height: 68px;
    width: 210px;
    object-fit: cover;

}

.Link {
    font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 34px;
letter-spacing: 0em;
text-align: right;
color: #FF6060;
text-decoration: none;
padding-right: 50px;

}

.Link:hover   {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .header {
    padding-top: 15px;
    padding-bottom: 15px;
}
.Link {
font-size: 12px;
line-height: 17px;
padding-right: 30px;

}

.logoDiv {
    padding-left: 30px;

}

.logoImg{
height: 47px;
width: 145px;
}
    
}

@media screen and (min-width: 320px) and (max-width: 480px) {



.Link {

padding-right: 15px;

}

.logoDiv {
    padding-left: 15px;

}


    
}