.slidesBanner {
    width: 90%;
    height: 415px;
    position: relative;

}

.slides {
    width: 100%;
    height: 100%;
}

.right_arrow {
    height: 79px;
    width: 46px;
    border-radius: 0px;

    position: absolute;
    top: 169px;
    right: 40px;
}

.left_arrow {
    height: 79px;
    width: 46px;
    position: absolute;
    top: 169px;
    left: 40px;
}

.arrows_hidden {
    display: none;
}

.left_arrow_img,
.right_arrow_img {
    width: 100%;
    height: 100%;
}

.slidesImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px
}

.pagination {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    bottom: 14px;
    left: 245px;
    right: 245px;
    color: white;
    font-variant-numeric: tabular-nums;

}

.pagination_hidden {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .slidesBanner {
        height: 255px;
    }

    .slidesImg {

        border-radius: 10px;
    }

    .right_arrow,
    .left_arrow {
        height: 19px;
        width: 11px;
    }

    .right_arrow {
        top: 137px;
        right: 18px;
    }

    .left_arrow {
        top: 137px;
        left: 18px;
    }

    .pagination {
        left: 144px;
        right: 135px;
    }
}